<!--
  Generated template for the QuotesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>quotes</ion-title>
  
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let quoteWord of words">
    <ion-card-header>
      #{{quoteWord.id}}
    </ion-card-header>
    <ion-card-content>
      {{quoteWord.text}}
    </ion-card-content>
    <ion-card-content>
      <p ion-text text-right color="dark">- {{quoteWord.person | uppercase}}</p>
    </ion-card-content>
    <ion-grid>
      
          <button *ngIf="!isFavorite(quoteWord)" color="yellow" (click)="onShowAlert(quoteWord)" ion-button clear small>
              Favorite
            </button>
          <button *ngIf="isFavorite(quoteWord)" color="danger" (click)="onShowAlertUnfavorite(quoteWord)" ion-button clear small>
              Unfavorite
            </button>
      
    </ion-grid>
  </ion-card>
</ion-content>
