<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
    <ion-buttons start>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <form [formGroup]="form" (ngSubmit)="tryLogin()"> -->
  <form #f="ngForm" (ngSubmit)="tryLogin(f)"> 
    <ion-grid>
      <ion-row style="background:#488aff; height:40px;">
        <h5 style="color:#f4f4f4;padding:10px;">LOGIN</h5>
      </ion-row>
    </ion-grid>
  
    <ion-item>
          <ion-label color="dark" fixed>Email</ion-label>
          <ion-input type="text" name="email" placeholder="Email" required ngModel></ion-input>
    </ion-item>
  
    <ion-item>
          <ion-label color="dark" fixed>Password</ion-label>
          <ion-input type="password" name="pass" placeholder="Password" ngModel></ion-input>
      </ion-item>
      <button ion-button type="submit" color="secondary" block>Login</button>
</form>
</ion-content>
