
<ion-menu [content]="sideMenuContent">
    <ion-header>
        <ion-toolbar>
            MENU
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button ion-item (click)="onLoad(tabsPage)" *ngIf="check()">
                <ion-icon name="quote" item-left></ion-icon>
                Quotes
            </button>
            <button ion-item (click)="onLoad(settingsPage)" *ngIf="check()">
                <ion-icon name="settings" item-left></ion-icon>
                Settings
            </button>
            <button ion-item (click)="onLoad(loginPage)" *ngIf="!check()">
                    Sign in
            </button>
            <button ion-item (click)="onLoad(signupPage)" *ngIf="!check()">
                    Sign Up
            </button>
            <button ion-item (click)="logout()" *ngIf="check()">
                Logout
            </button>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #sideMenuContent></ion-nav>
