<!--
  Generated template for the QuotesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Favorite quotes</ion-title>
    <ion-buttons start>
      <button (click)="onShowAddForm()" ion-button item-right>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
      <button ion-button menuToggle item-left>
        <ion-icon name="menu"></ion-icon>
      </button>
    
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-sliding (click)="showQuote(quoteWord)" *ngFor="let quoteWord of quoteCollection">
      <ion-item [color]="setBgColor()">
        <h3>{{quoteWord.text}}</h3>
        <p color="grey">{{quoteWord.person | uppercase}}</p>
      </ion-item>
    
    <ion-item-options>
      <button ion-button color="danger" (click)="removeQuote(quoteWord)">Delete</button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
</ion-content>
